@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
body {
    background: #F3F3F3;
}

.login2 {
    padding: 15px;
    background: #F3F3F3;
}

.login2 .login-wrapper {
    max-width: 574px;
    margin: 0 auto;
    text-align: center;
    padding-top: 33px;
    height: 326px;
}

.login2 .login-wrapper img {
    margin: 40px auto;
}

.login2 .login-wrapper .input-group-addon {
    padding: 8px 0;
    background: #ffffff;
    min-width: 48px;
    text-align: center;
    border: none;
}

.login2 .login-wrapper .input-group-addon i.falock {
    font-size: 18px;
}

.login2 .login-wrapper input.form-control {
    height: 40px;
    font-size: 15px;
    box-shadow: none;
    border: none;
}

.login2 .login-wrapper .checkbox {
    margin-bottom: 30px;
}

.login2 .login-wrapper input[type="submit"] {
    padding: 6px 0 6px;
    margin: 20px 0 30px;
    height: 32.8px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.login2 .login-wrapper input[type="submit"]:hover {
    background: transparent;
}

.login2 .login-wrapper .social-login {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

.login2 .login-wrapper .social-login > .btn {
    width: 49%;
    margin: 0;
}

.login2 .login-wrapper .social-login .facebook {
    background-color: #335397;
    border-color: #335397;
}

.login2 .login-wrapper .social-login .facebook:hover {
    background-color: transparent;
    color: #335397;
}

.login2 .login-wrapper .social-login .twitter {
    background-color: #00c7f7;
    border-color: #00c7f7;
}

.login2 .login-wrapper .social-login .twitter:hover {
    background-color: transparent;
    color: #00c7f7;
}

/* NEW UI CHANGES - UPDATES 16-06-2022 */

.login-top-navbar{
    background: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    box-shadow: 0px 3px 6px #00000029;
    position: sticky;
}

.navbar-title{
    font-weight: 600;
    color:#3F4254;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding-right: 154px;
}
.login-main-container{
    display: flex;
    justify-content: space-between;
    height: 444px;
}
.login2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-main-image{
    width: 57%;
}
#username , #password{
    width: 100%;
    padding-left: 0px;
}
#submitbtn{
    width: 101%;
}
#login-container-title{
    text-align: left;
    margin-bottom: 0px;
    color:#3F4254;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#login-container-desc{
    text-align: left;
    font-size: 14px;
    padding-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    color:#3F4254;
}
.fa-apple{
    color:black;
}


.login-wrapper{
    width: 100%;
    background: white;
    padding: 22px;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000029;
}
.input-group{
    border: 1px solid #80808040;
    font-family:'Montserrat', sans-serif;
}

input[type="submit"]{
    background: #008FE0;
}
.form-group{
    margin-bottom: 11px;
}
.fa-user , .fa-lock{
    color:#DEDEDE;
    font-size: 18px;
}
@media only screen and (max-width: 700px){
        .navbar-title{
          display:none;
        }
        #mozark-nav-logo{
            display:none;
        }
      }