//- //
//-   Copyright © 2019 contains code contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//- //

//- .login2(ng-controller='SignInCtrl')
//-   .login-wrapper
//-     a(href='./')
//-       img(width='200', height='60', src='/static/logo/exports/logo.png', title='MOZARK')

//-     form(name='signin', novalidate, ng-submit='submit()')
//-       .alert.alert-danger(ng-show='error')
//-         span(ng-show='error.$invalid', translate) Incorrect username and password
//-         span(ng-show='error.$incorrect', translate) Incorrect login details
//-         span(ng-show='error.$server', translate) Server error. Check log output.

          
//-       .form-group
//-         .input-group
//-           span.input-group-addon
//-             i.fa.fa-user
//-           input.form-control(ng-model='username', name='username', required, type='text', placeholder='username',
//-           autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
//-         .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
//-           span(translate) Please enter your username

//-       .form-group
//-         .input-group
//-           span.input-group-addon
//-             i.fa.fa-key
//-           input.form-control(ng-model='email', name='email', required, type='password', placeholder='password',
//-           autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login email')
//-         .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
//-           span(ng-show='signin.email.$error.email', translate) Please enter a password
//-           span(ng-show='signin.email.$error.required', translate) Please enter your password

//-       input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Log In')

//-       button.btn.btn-sm.btn-default-outline(
//-         type='button'
//-         uib-tooltip="{{'Write a mail to the support team' | translate}}"
//-         ng-disabled='!contactEmail'
//-         ng-click='mailToSupport()'
//-         tooltip-placement='top'
//-         tooltip-popup-delay='500')
//-           i.fa.fa-envelope-o
//-           span(translate) Contact Support




// Copyright © 2019 contains code contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
// 
.login-top-navbar
  div
    img(src='/static/logo/exports/mozark.png', height='45px' style="margin-top:-6px")
  div
    h3.navbar-title
      | Interactive Testing
  div
    //- img#mozark-nav-logo(src='	https://icici-app-testing.mozark.ai/static/media/mozark-logo.79af734d.png' , height='34.23px')
.login-main-container
  .login2(ng-controller='SignInCtrl')
    .login-wrapper
      h3#login-container-title Sign-in for Interactive Testing
      p#login-container-desc Please enter your credentials to proceed
      form(name='signin', novalidate='novalidate', ng-submit='submit()')
        .alert.alert-danger(ng-show='error')
          span(ng-show='error.$invalid', translate='translate') Incorrect username and password
          span(ng-show='error.$incorrect', translate='translate') Incorrect login details
          span(ng-show='error.$server', translate='translate') Server error. Check log output.
        .form-group
          .input-group
            span.input-group-addon
              i.fa.fa-user
            input#username.form-control(ng-model='username', name='username', required='required', type='text', placeholder='username', autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login username')
          .alert.alert-warning(ng-show='signin.username.$dirty && signin.username.$invalid')
            span(translate='translate') Please enter your username
        .form-group
          .input-group
            span.input-group-addon
              i.fa.fa-lock
            input#password.form-control(ng-model='email', name='email', required='required', type='password', placeholder='password', autocorrect='off', autocapitalize='off', spellcheck='false', autocomplete='section-login email')
          .alert.alert-warning(ng-show='signin.email.$dirty && signin.email.$invalid')
            span(ng-show='signin.email.$error.email', translate='translate') Please enter a password
            span(ng-show='signin.email.$error.required', translate='translate') Please enter your password
        input.btn.btn-lg.btn-primary.btn-block(type='submit', value='LOGIN')

        //- button.btn.btn-sm.btn-default-outline(
        //-   type='button'
        //-   uib-tooltip="{{'Write a mail to the support team' | translate}}"
        //-   ng-disabled='!contactEmail'
        //-   ng-click='mailToSupport()'
        //-   tooltip-placement='top'
        //-   tooltip-popup-delay='500')
        //-     i.fa.fa-envelope-o
        //-     span(translate) Contact Support 
