.device-list-session-content table {
  white-space: nowrap;
}

.device-list-session-content .device-list-product,
.device-list-session-content .device-list-carrier {
  white-space: normal;
}

.device-list-session-content .progress {
  margin-bottom: 0 !important;
  height: 17px !important;
}

.device-list-session-content .device-status.state-available {
  font-weight: 600;
}
