.har-label{
    background-color: #e8e8e8;
    padding: 3%;
}

.har-btn{
    padding: 2% !important;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


#clockdiv{
    display:flex;
    justify-content: center;
    align-items:center;
    background: #f1f1f1;
    width:36%;
    padding:10px;
    border-radius:5px;
    box-shadow: 6px 6px 12px -3px rgba(0,0,0,0.41);
  -webkit-box-shadow: 6px 6px 12px -3px rgba(0,0,0,0.41);
  -moz-box-shadow: 6px 6px 12px -3px rgba(0,0,0,0.41);
  }
  
  #clockdiv > div {
    margin:0px 3px;
  }
  
  #clockdiv > div > span {
    color: purple;
    font-weight:bold;
  }