.stf-info.selectable(ng-controller='HarCtrl')
  #api-button-controller.center-text.har-btn
    #clockdiv
      div Max Duration for API Inspection
      div
        img(width='15px', src='https://img.icons8.com/material-outlined/24/000000/clock--v2.png')
      div
        span.minutes 00
        |  : 
        span.seconds 00
    div
      .btn-group
      button.btns(ng-if='!harURL', type='button', ng-click='start()')
        span(translate='translate') Start
      button.btns(ng-if='harURL', type='button', ng-click='end()')
        span(translate='translate') End
  .har-label(ng-if='!harURL')
    label
      | The proxy setup is not configured on this device currently. To configure, please reach out to the MOZARK team.
  iframe#iframeHAR(width='100%', height='400', ng-if='harURL', src='{{harURL}}')  