@import url("https://fonts.cdnfonts.com/css/gotham-book");
.stf-remote-debug {

}

.stf-remote-debug .remote-debug-textarea {
  resize: none;
  cursor: text;
  font-family: 'Gotham Book', sans-serif;
  font-size: 12px;
  width: 100%;
}


