@import url("https://fonts.cdnfonts.com/css/gotham-book");
.stf-access-tokens .access-token-generated-okay {
  display: inline-block;
}

.stf-access-tokens .token-id-textarea {
  resize: none;
  cursor: text;
  font-family: 'Gotham Book', sans-serif;
  font-size: 12px;
  width: 85%;
}
