//- span.text Start Experience Analysis Session

.stf-info.selectable(ng-controller='SessionCtrl')
 span.text(ng-if="showStartButton") Record session for performance metrics
 div.center-text
  .btn-group
  button.btns(ng-if="showStartButton && !showPackageDropdown", type='button', ng-click='getPackages()')
        span(translate) Start
  button.btns(ng-if="!showStartButton", type='button', ng-click='end()')
        span(translate) End
  span(ng-if='showPackageDropdown') Select Package
 div.checkbox-label(ng-if="showStartButton && !showPackageDropdown")
  input(type='checkbox',ng-model='har',ng-click="checkHar()") 
  label Enable proxy on this device(for HAR capture)
  br
  input(type='checkbox',ng-model='video', ng-click="checkVideo()") 
  label Video
  br
  input(type='checkbox',ng-model='heap', ng-click="checkHeap()") 
  label Heap
  br
  input(type='checkbox',ng-model='frame', ng-click="checkFrame()")
  label Frames
  br
  input(type='checkbox',ng-model='memory', ng-click="checkMemory()") 
  label Memory
  br
  input(type='checkbox',ng-model='battery', ng-click="checkBattery()") 
  label Battery
  br
  input(type='checkbox',ng-model='cpu', ng-click="checkCpu()") 
  label CPU


 div.basic-info(ng-if="showStartButton && !showPackageDropdown")
  label.bold About: 
  br
  label Mozark session analysis enables you to capture the following devices resources usage KPIs by your mobile application while you manually interact and test your app
  br
  label.list 1.UI Graphics performance (including Frame render times. Slow UI thread. Janky frame count)
  br
  label.list 2.CPU usage
  br
  label.list 3.Memory usage
  br
  label.list 4.Heap memory
  br
  label.list 5.Battery Usage
  br
  br
  label In addition, you can also capture the API Request-Response details in a HAR file by configuring proxy on this device.
  br 
  br 
  label.bold Ending the session:
  br
  label Please click on End Button to terminate capture of the KPIs
  br
  br
  label.bold Build configuration required for this device: 
  br 
  li Build needs to work on rooted device - 
   label.bold NA
  li Build needs to be certificate un-pinned - 
   label.bold NA
  li Build needs to trust the user certificate on the phone (for working with proxy ) - 
   label.bold NA

 div.set-back(ng-if='showPackageDropdown')
  .dropdown-data
    #myDropdown.dropdown-content
      input#myInput(type='text' placeholder='Search Package' ng-keyup='filterFunction()' ng-model="searchValue" autoComplete="off")
      .dropdown-scroll
       a(ng-repeat='col in packages' ng-click="setPackage(col.packageName)") {{col.packageName}}

 div.after-start-session(ng-if="!showStartButton")
  label.bold Recording
  ul
    li
      span API request-response....
      i.fa.fa-spinner.fa-spin
    li
      span Frame render times....
      i.fa.fa-spinner.fa-spin
    li
      span CPU usage....
      i.fa.fa-spinner.fa-spin
    li
      span Memory Usage....
      i.fa.fa-spinner.fa-spin
    li
      span Heap Memory....
      i.fa.fa-spinner.fa-spin
    li
      span Battery Usage....
      i.fa.fa-spinner.fa-spin


//-   div.lists.col-12
//-    div.list-one.col-6
//-     li API request-response....
//-     li Frame render times....
//-     li CPU usage....
//-     li Memory usage....
//-     li Heap Memory....
//-     li Battery usage....
//-    div.loader.col-6
//-     span
//-     span
//-     span
//-     span
//-     span
//-     span
//-   ul
//-     li
//-       label API request-response....
//-       span
//-     li
//-       label API request-response....
//-       span
//-     li
//-       span CPU usage....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Memory Usage....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Heap Memory....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Battery Usage....
//-       i.fa.fa-spinner.fa-spin
//-   ul
//-     li
//-       span API request-response....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Frame render times....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span CPU usage....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Memory Usage....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Heap Memory....
//-       i.fa.fa-spinner.fa-spin
//-     li
//-       span Battery Usage....
//-       i.fa.fa-spinner.fa-spin