.stf-info .table.table-infocard thead > tr > th,
.stf-info .table.table-infocard tbody > tr > th,
.stf-info .table.table-infocard tfoot > tr > th,
.stf-info .table.table-infocard thead > tr > td,
.stf-info .table.table-infocard tbody > tr > td,
.stf-info .table.table-infocard tfoot > tr > td {
  border-top: 0;
}

.stf-info .table-infocard tbody > tr > td:first-child {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.stf-info .progress {
  margin-bottom: 0;
  height: 15px;
}

.text {
  margin-left: 2%;
}

.center-text {
  text-align: center;
  background-color: #e8e8e8;
  padding-top: 3%;
}

.set-back {
  background-color: #e8e8e8;
  text-align: center;
}

.checkbox-label {
  background-color: #e8e8e8;
  padding: 2% 0 0 42%;
}

.checkbox-label label {
  padding-left: 4%;
}

.basic-info {
  padding: 2% 0 0 2%;
  background-color: #e8e8e8;
}

.basic-info .bold {
  font-weight: bold;
}

.basic-info .list {
  padding-left: 4%;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btns {
  background-color: #167ffc;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 8px 24px;
}

.btns:hover{
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 8px 15px;
  border: none;
  border: 1px solid black;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown-data{
  position: relative;
  display: inline-block;
  width: 35%;
}

.dropdown-content {
  position: relative;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-data a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown-scroll {
  overflow-y: scroll;
  height: 240px;
  border: 1px solid;
}

.after-start-session {
  padding: 4% 0 0 34%;
  background-color: #e8e8e8;
  height: 46vh;
}

.after-start-session .bold {
  font-weight: bold;
}

.after-start-session ul {
  list-style: none;
  padding-left: 0%;
}

.after-start-session li {
  display: flex;
  width: 100%;
}

/* .after-start-session label {
  width: 25%;
} */

.after-start-session span {
  width: 25%;
}

.after-start-session i {
  margin-left: 7%;
}

.after-start-session .lists{
  display: flex;
  width: 101%;
}

.after-start-session .lists .loader{
 width: 10%;
 margin-left: 5%;
}


/* .after-start-session span {
  border-radius: 50px;
  margin-top: 12%;
  background-color: #5389a6;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  transform: translateX(64px);
  animation: loading 3.5s ease both infinite;
}
.after-start-session span:before {
  position: absolute;
  background-color: #a6dcee;
  content: "";
  width: 20px;
  height: 100%;
  border-radius: inherit;
  animation: loading2 3.5s ease both infinite;
}
@keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
 }
  40% {
    width: 100%;
    transform: translateX(0px);
 }
  80% {
    width: 16px;
    transform: translateX(64px);
 }
  90% {
    width: 100%;
    transform: translateX(0px);
 }
  100% {
    width: 16px;
    transform: translateX(0px);
 }
}
@keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
 }
  40% {
    transform: translateX(0%);
    width: 80%;
 }
  80% {
    width: 100%;
    transform: translateX(0px);
 }
  90% {
    width: 80%;
    transform: translateX(15px);
 }
  100% {
    transform: translateX(0px);
    width: 16px;
 }
} */
