.device-list {
  color: deepskyblue;
}

.stf-device-list .filtering-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
}

.stf-device-list .device-not-usable {
  color: #bbb;
}

.stf-device-list .device-not-usable img {
  opacity: 0.8;
}

.stf-device-list .device-not-usable .btn {
  cursor: not-allowed;
}

.stf-device-list .devices-not-available {
  background: #f6f6f6;
}

.stf-device-list .device-disconnected {
  display: none;
}

.stf-device-list .line {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
}

.stf-device-list .device-status {
  margin-top: 4px;
}

img.device-icon-smallest {
  width: 12px;
  margin-right: 6px;
}

.stf-device-list .device-small-image {
  margin-right: 8px;
  width: 13px;
  display: inline-block;
}

.stf-device-list .device-small-image img {
  height: 20px;
  min-width: 10px;
  max-width: 100%;
}

.stf-device-list .device-browser-list img {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.device-list-active-tabs.ng-enter {
  -webkit-transition: 250ms;
  transition: 250ms;
  opacity: 0;
}

.device-list-active-tabs.ng-enter-active {
  opacity: 1;
}

.stf-device-list .device-product-name-unusable {
  color: inherit;
}

.stf-device-list .device-product-name-using {
  border-bottom: 1px solid; /* leaving out the color inherits text color */
}

.stf-device-list .device-note {
}

.stf-device-list .device-note-edit {
  margin-left: 15px;
  visibility: hidden;
}

.stf-device-list .device-note:hover .device-note-edit {
  visibility: visible;
}

.fa-apple{
  color: black;
  font-size: 16px;
  padding-right: 6px;
}
.fa-android{
  color: green;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 6px;
}
@media only screen and (max-width: 510px){
    input[type="search"]{
      display:none;
    }
}