doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='MOZARK')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(href='/static/logo/exports/favicon.png', rel='apple-touch-icon')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==', crossorigin='anonymous', referrerpolicy='no-referrer')

    title(ng-bind='pageTitle ? "App Interact | powered by MOZARK" + pageTitle : "App Interact | powered by MOZARK"') App Interact | powered by MOZARK
  body(ng-cloak).bg-1.fill-height.unselectable
    div(ng-controller='LayoutCtrl', basic-mode, admin-mode, standalone, landscape).fill-height
      .pane-top.fill-height(fa-pane)
        .pane-top-bar(fa-pane, pane-id='menu', pane-anchor='north',
          pane-size='{{true ? 61 : 0 }}px',

          pane-handle='')
          div(ng-include='"menu.pug"')

        .pane-center(fa-pane, pane-id='main', pane-anchor='center').fill-height
          socket-state
          div(growl)
          div(ng-view).fill-height
  
          
    script(src='/app/api/v1/state.js')
    script(src='static/app/build/entry/commons.entry.js')
    script(src='static/app/build/entry/app.entry.js')
    script(src='static/logo/qrcode.js')
    script(src="/static/logo/exports/perf-cascade.min.js")
    script(src="/static/logo/exports/perf-cascade-file-reader.min.js")
    //- script(type="module").
    //-     import isFastNet from 'https://cdn.jsdelivr.net/npm/isfastnet@2.0.0'
    //-     setInterval(() => isFastNet((value) => {
    //-     let speed = value ? 'fast':'slow';
    //-     var comp = document.querySelector("#toast");
    //-     if(speed == "fast"){
    //-       if(comp) comp.className=""
    //-     }
    //-     else{
    //-       if(comp) comp.className="showtoast"
    
    //-     }
    //-     }), 5000)
