@import url("https://fonts.cdnfonts.com/css/gotham-book");
.stf-shell .shell-results {
  font-size: 12px;
  color: #fefefe;
  background: #444;
}

.stf-shell .shell-results-empty {
  font-style: italic;
}

.stf-shell .shell-input {
  font-family: 'Gotham Book', sans-serif;
  font-size: 12px;
}
