@import url("https://fonts.cdnfonts.com/css/gotham-book");
.stf-adb-keys .key-list-fingerprint {
  font-family: 'Gotham Book', sans-serif;
  font-size: 10px;
  margin-bottom: 2px;
  color: #999999;
  font-weight: 300;
}
