@import url("https://fonts.cdnfonts.com/css/gotham-book");
.stf-logcat-table {
  background: #fff;
  position: absolute;
  top: 69px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /*z-index: -10;*/
}

.stf-logcat-table table {
  table-layout: fixed !important;
}

.stf-logcat-table tbody tr {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.stf-logcat-table tbody td {
  padding-left: 5px;
  padding-right: 5px;
}

.stf-logcat-table .console-message-text {
  font-size: 11px !important;
  font-family: 'Gotham Book', sans-serif;
  white-space: pre-wrap;
}

.stf-logcat-table .console-message-text td {
  /*color: rgb(48, 57, 66);*/
}

/*.stf-logcat-table tr td:first-child {*/
  /*background: #f3f3f3;*/
  /*color: #800000;*/
  /*text-align: right;*/
/*}*/

/**
  Logging colors
*/

.stf-logcat-table .log-Unknown {
  color: bisque;
}

.stf-logcat-table .log-Default,
.stf-logcat-table .log-Silent {
  color: darkolivegreen;
}

.stf-logcat-table .log-Verbose {
  color: blueviolet;
}

.stf-logcat-table .log-Debug {
  color: #020c7d;
}

.stf-logcat-table .log-Info {
  color: #177d1c;
}

.stf-logcat-table .log-Warn {
  color: coral;
}

.stf-logcat-table .log-Error {
  color: red;
}

.stf-logcat-table .log-Fatal {
  color: darkcyan;
}
