@import url("https://fonts.cdnfonts.com/css/gotham-book");
.stf-modal {
  border-radius: 5px;
}

.stf-modal .modal-title {
  padding-left: 5px;
}

.stf-modal .bold {
  font-weight: bold;
}

.stf-modal .modal-body {
  background: #fff;
}

.stf-modal .modal-footer {
  background: #fff;
  padding: 20px;
  margin-top: 0;
  border-top: 1px solid #e5e5e5;
}


.stf-modal .dialog-header-error {
  background-color: #d2322d;
}

.stf-modal .dialog-header-wait {
  background-color: #428bca;
}

.stf-modal .dialog-header-notify {
  background-color: #eeeeee;
}

.stf-modal .dialog-header-confirm {
  background-color: #333333;
}

.stf-modal .dialog-header-error span,
.stf-modal .dialog-header-error h4,
.stf-modal .dialog-header-wait span,
.stf-modal .dialog-header-wait h4,
.stf-modal .dialog-header-confirm span,
.stf-modal .dialog-header-confirm h4 {
  color: #ffffff;
}

.modal-size-xl .modal-dialog  {
  width: 860px;
}

.modal-size-80p .modal-dialog {
  width: 80%;
  height: 100%;
}

.modal-size-80p .modal-body {
  height: 100%;
  max-height: 800px;
}

.stf-modal .big-thumbnail {
  text-align: center;
}

.stf-modal .device-name {
  color: #3FA9F5;
  font-size: 16px;
  margin: 10px 0;
  font-family: 'Gotham Book', sans-serif;
}

.stf-modal .device-photo-small {
}
