//
  Copyright © 2019 code initially contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.stf-generic-modal.stf-modal
  .modal-header
    h4.modal-title.text-warning(ng-if="data.type === 'Warning'")
      i.fa.fa-warning
      .button-spacer
      span(translate) {{data.type}} 

    h4.modal-title.text-info(ng-if="data.type === 'Information'")
      i.fa.fa-info-circle
      .button-spacer
      span(translate) {{data.type}}

    h4.modal-title.text-info(ng-if="data.type === 'Confirmation'")
      i.fa.fa-check-circle
      .button-spacer
      span(translate) {{data.type}} 

    h4.modal-title.text-info(ng-if="data.type === 'Test Logs'")
      .button-spacer
      span(translate) {{data.type +  " for"}} {{sessionData.testId}} 

    h4.modal-title.text-danger(ng-if="data.type === 'Error'")
      i.fa.fa-times-circle
      .button-spacer
      span(translate) {{data.type}} 

  .modal-body
    label.control-label
      span(translate) {{data.message}} 
    .div(ng-if= 'data.session')
      ul.test-table-list-img.performace-download
        li(ng-click="downloadFile('device-resource.heap-mem','heap')", ng-disabled='!heapMem')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/heap-mem.png')
          span.test-table-data-heap Heap Memory
        li(ng-click="downloadFile('device-resource.frames','frames')", ng-disabled='!frames')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/frames.png')
          span.test-table-data-img Frames
        li(ng-click="downloadFile('device-resource.mem','mem')" , ng-disabled='!memory')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/memory.png')
          span.test-table-data-img Memory
      ul.test-table-list-img.performace-download
        li(ng-click="downloadFile('device-resource.battery','battery')", ng-disabled='!battery')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/battery.png')
          span.test-table-data-img Battery
        li(ng-click="downloadFile('device-resource.cpu','cpu')", ng-disabled='!cpu')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/cpu.png')
          span.test-table-data-img.short CPU
        li(ng-click="downloadFile('device-resource.har','har')", ng-disabled='!har')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/har.png')
          span.test-table-data-img.short HAR
       ul.test-table-list-img.performace-download
        li(ng-click="downloadFile('device-resource.video','video')", ng-disabled='!video')
          img.test-table-head-img(width='100', height='100', src='/static/logo/exports/video.png')
          span.test-table-data-img Video  
 
  .modal-footer
    button.btn.btn-primary(
      ng-if='!data.hideButton'
      type='button'
      ng-click='ok()')
        span(translate) OK 

    button.btn.btn-warning(
      type='button'
      ng-if='data.cancel'
      ng-click='cancel()')
        span(translate) Cancel
