ul {
    list-style: none;
  }
  
  .test-table-head-img {
   display: block;
    margin-left: 2%;
    position: relative;
  }
  
  .test-table-data-img {
    margin-left: 30%;
    font-weight: bold;
  }

  .test-table-data-heap {
    margin-left: 5%;
    font-weight: bold;
  }

  .test-table-data-frames {
    margin-left: 23%;
  }

  .test-table-data-cpu {
    margin-left: 28%;
  }

  .short{
    padding-left: 8%;
  }
  .test-table-list-img {
    margin-left: -5%;
    display: flex;
    /* justify-content: space-around; */
    position: relative;
    border-bottom: 1px solid color-grey-light;
  }

  .test-table-list-img li{
    margin-left: 12%;
  }

  .test-table-list-img li:hover{
    cursor: pointer;
  }

  .test-table-list-img li[disabled]{
    pointer-events: none;
    opacity: 0.5;
  }

  .test-table-list-two {
    margin-left: -5%;
    display: flex;
    position: relative;
    border-bottom: 1px solid color-grey-light;
  }

  .space{
    margin-left: 23%;
  }

  .test-modal.test-table-list-img.performace-download {
    overflow: visible;
  }