.stf-menu .stf-logo {
  background: url(./../../common/logo/exports/mozark.png) no-repeat 0 0;
  width: 165px;
  height: 60px;
  float: left;
  text-indent: -9999em;
  margin: 0px 10px 0 0;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
}

.stf-menu .stf-top-bar {
  height: 44px;
  padding: 0 10px 0 20px;
  width: 100%;
  float: left;
}
#userDetails {
  padding: 14px 40px 1px 0px;
  font-size: 13px;
}
#deviceDetails {
  padding-right: 20px;
  font-size: 13px;
}
#userloginDetail {
  padding-left: 8px;
}
.fa-mobile {
  padding-right: 8px;
  font-size: 17px;
}
#deviceCounter1 {
  color: black;
  font-weight: 900;
}
#deviceCounter2 {
  color: green;
  font-weight: 900;
}
.stf-menu .stf-nav {
  padding-left: 15px;
  text-align: left;
  margin: 0;
  float: left;
}

.stf-menu .stf-nav > li {
  padding-right: 15px;
  float: left;
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 0;
}

.stf-menu .stf-nav > li > a {
  display: inline-block;
  text-align: left;
  padding: 0 !important;
  padding-right: 18px !important;
  padding-left: 14px !important;
  font-size: 15px;
  line-height: 44px;
  color: #777777;
  font-weight: 400;
  height: 44px;
  position: relative;
}

.stf-menu .stf-nav > li > a > span.fa {
  display: inline-block;
  float: left;
  margin: 8px 8px 0 0;
  font-size: 28px;
}

.stf-menu .stf-nav > li > a > span.fa-mobile {
  font-size: 30px;
}

.stf-menu .stf-nav > li > a.current {
  color: #007aff;
}

.stf-menu.navbar {
  height: 44px !important;
  min-height: 44px !important;
}

.snackbar {
  top: 10px;
  right: 44px;
  z-index: 1;
  padding-left: 15px;
  border-radius: 7px;
  background: linear-gradient(to right, #c04848, #480048);
  color: white;

  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* toast css */

#toast {
  display: flex;
  height: 70px;
  width: 60px;
  align-items: center;
  visibility: hidden;
  background-color: rgb(245, 232, 211);
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  font-size: 15px;
  opacity: 0.95;
  border-left: 5px solid rgb(231, 183, 115);
  overflow: hidden;
}
#network_icon {
  padding: 10px;
  display: flex;
  color: rgb(231, 183, 115);
  font-size: 20px;
}
#desc {
  padding: 10px;
  color: rgb(39, 39, 39);
  font-weight: bold;
}

#toast.showtoast {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 300000s 1s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 300000s 1s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
.profiler_dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#closeQRCodeDisplayContainer {
  background: green;
  color: white;
  border-radius: 20px;
  padding: 3px 13px;
  margin-top: 20px;
}
#closeQRCodeDisplayContainer:hover {
  background: #105301;
}
#myprofiler {
  background: #f2f2f2;
  padding: 20px 10px;
  position: fixed;
  z-index: 100;
  width: 300px;
}
.mfaContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 9px;
}
.mfaContainer:hover {
  background: #dde0de;
}
.profiler_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.profiler_dropdown:hover .profiler_dropdown-content {
  display: block;
}

.QRCodeDisplayContainer {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
#MFAQRCode {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.QRCodeDisplayContainer > label {
  padding-top: 20px;
  text-align: center;
}
.QRCodeDisplayContainer > input {
  margin-top: 20px;
  width: 53px;
}
.QRCodeDisplayContainer > label > a {
  color: green;
  text-decoration: none;
}

#icici-logo {
  height: 32px;
  margin-top: 5px;
}
#stf-logout-btn-hidden {
  display: none;
  margin-left: 25px;
  margin-top: 7px;
}
@media only screen and (max-width: 510px) {
  #stf-logout-btn-hidden {
    display: block;
    margin-left: 25px;
    margin-top: 7px;
  }
}
