//
  Copyright © 2019 contains code contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.navbar.stf-menu(ng-controller='MenuCtrl')
  .container-fluid.stf-top-bar
    a.stf-logo MOZARK
    //- (ng-href="/#!/devices")
    ul.nav.stf-nav(nav-menu='current').unselectable
      li(ng-cloak)

      li#stf-logout-btn-hidden
       button.btn.btn-sm.btn-default-outline(
        type='button'
        ng-click='logout()')
          i.fa.fa-sign-out
          span(translate) Logout
        //- a(ng-href='/#!/control/{{lastUsedDevice}}', ng-show='lastUsedDevice')
        //-   span.fa.fa-mobile
        //-   span(ng-if='!$root.basicMode', translate) Control
        //- a(ng-href='/#!/devices', accesskey='1')
        //-   span.fa.fa-sitemap
        //-   span(ng-if='!$root.basicMode', translate) Devices
        //- a(ng-href='/#!/groups')
        //-   span.fa.fa-object-group
        //-   span(ng-if='!$root.basicMode', translate) Groups
        //- a(ng-href='/#!/settings')
        //-   span.fa.fa-gears
        //-   span(ng-if='!$root.basicMode', translate) Settings
    ul.nav.stf-nav.stf-feedback.pull-right(ng-cloak, nav-menu='current').unselectable
      //- li.stf-nav-web-native-button(ng-if='!$root.basicMode && isControlRoute')
      //-   .btn-group
      //-     button(type='button', ng-model='$root.platform', uib-btn-radio="'web'", translate).btn.btn-sm.btn-default-outline Web
      //-     button(type='button', ng-model='$root.platform', uib-btn-radio="'native'", translate).btn.btn-sm.btn-default-outline Native

      //- li.stf-nav-web-native-button(ng-if='!$root.basicMode')
      //-  button.btn.btn-sm.btn-default-outline(
      //-   type='button'
      //-   ng-click='mailToSupport()')
      //-     i.fa.fa-envelope-o
      //-     span(translate) Contact Support
      //- li.snackbar
      //- li#userDetails
      //-   i.fa.fa-mobile
      //-   span Active Devices 
      //-   span#deviceCounter
      //- li#userDetails
      //-   i.fa.fa-user
      //-   span#userloginDetail
      li#userDetails.profiler_dropdown
        i.fa.fa-user
        span#userloginDetail 
        //- #myprofiler.profiler_dropdown-content
        //-   .mfaContainer
        //-     span Enable Two-Factor Authentication
        //-     i#MFAQRTrigger.fas.fa-qrcode
        //-   .QRCodeDisplayContainer
        //-     h4 Scan QR-Code to enable MFA
        //-     img#MFAQRCode(alt='QR-code', width='150px', src='https://media2.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif')
        //-     label
        //-       | Use Any 
        //-       a(href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_IN&gl=US') Authenticator Apps
        //-       |  to scan the QR-Code. Enter the 6-digit TOTP Visible on the App for Confirmation.
        //-     input(maxlength='6', type='text', placeholder='000000' , id="verifyOTPCode")
        //-     #closeQRCodeDisplayContainer Verify TOTP and Confirm 
        
      li.stf-nav-web-native-button(ng-if='true')
       button.btn.btn-sm.btn-default-outline(
        type='button'
        ng-click='logout()')
          i.fa.fa-sign-out
          span(translate) Logout
      

      li(ng-show='true')
        a(ng-href='https://mozark.ai/developer-guides/app-interact/', target='_blank' accesskey='6')
          i.fa.fa-question-circle.fa-fw
          | {{ "Help" | translate }}

      //- li
        //- img#icici-logo(src='https://icici-app-testing.mozark.ai/static/media/mozark-logo.79af734d.png')



      

