@import url("https://fonts.cdnfonts.com/css/gotham-book");
html, body {
    padding: 0;
    margin: 0;
    cursor: text;
    background: #000;
}

.terminal {
    font-family: 'Gotham Book', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    cursor: text;
}
