.widget-container.fluid-height.stf-clipboard(ng-controller='ClipboardCtrl')
  .heading
    stacked-icon(icon='fa-info', color='color-brown')
    span(translate) Device Details  
    stacked-icon(icon='fa-copy', title='copy to clipboard', ng-click='copyToClipboard()' id='copy-clipboard-icon')
  .widget-content.padded
    div
      | Manufacturer : 
      span#info-device-manufacturer
    div
      | Model Name : 
      span#info-device-modelname 
    div
      | OS Version : 
      span#info-device-os
    div
      | Network : 
      span#info-device-carrier  
    div
      | Mobile Number : 
      span#info-device-mobile
    //- div
    //-   | Screen Size (in.) : 
    //-   span#info-device-display
    div
      | Device ID : 
      span#info-device-serial 