@import url("https://fonts.cdnfonts.com/css/gotham-book");
.test-modal {
  background-color: white;
  padding: 16px 40px 20px;
  box-shadow: 0px 3px 7px #dddddd33;
  margin-bottom: 32px;
  border-radius: 7px;
  font-family: 'Gotham Book', sans-serif;
}
.test-modal .test-table-list .export-icons {
  position: static;
  transform: translateY(10px);
  margin-left: 25px;
  cursor: pointer;
  margin-top: -13%;
}

.test-modal.test-table-list.test-table-head {
  padding-bottom: 23px;
}

.test-table-list li .test-table-link {
  padding: 24px 0;
}

.test-table-blank {
  color: transparent;
}

.test-table-head {
  font-size: 1.5rem;
  color: black;
  display: block;
  padding: 10px 0 0 11px;
  position: relative;
}

.test-table-data {
  font-size: 1.5rem;
  display: block;
  padding: 10px 0 0 11px;
  color: black;
}

.test-modal.test-table-list.test-table-data {
  padding: 37px 0;
}

ol,
ul {
  list-style: none;
}
/* } */

.test-modal.test-table-list.performace-download {
  overflow: visible;
}

.test-modal.test-table-list.li.export-list.export-icons {
  position: absolute;
  transform: translateY(-50%);
  margin-left: 0;
}

.test-table-list li {
  flex: 1;
  padding: 0 5px;
  word-break: break-all;
}

.test-table-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 40px;
  border-bottom: 1px solid color-grey-light;
}

.test-table-list:after {
  width: 93%;
  height: 1px;
  content: "";
  top: 30px;
  right: auto;
  bottom: auto;
  left: 3%;
  position: absolute;
  background-color: #d8d8d8;
}

.download-icon {
  background: url(download.svg) no-repeat;
  width: 21px;
  height: 30px;
}

.export-icons {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  display: inline-block;
}

.export-list {
  right: -25px;
  bottom: auto;
  left: auto;
  position: absolute;
  top: calc(100% + 15px);
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgb(239 239 239 / 50%);
  border: 1px solid #e0e7ee;
  z-index: 1;
  padding: 6px 22px;
}

.export-list:after {
  width: 20px;
  height: 20px;
  content: "";
  top: -11px;
  right: 25px;
  bottom: auto;
  left: auto;
  position: absolute;
  border-right: 1px solid #e0e7ee;
  border-top: 1px solid #e0e7ee;
  transform: rotate(-45deg);
  background-color: #fff;
}

@media only screen and (max-width: 1366px) {
  .export-list {
    min-width: 225px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.export-link {
  height: 28px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 15px 0 39px;
  position: relative;
  text-transform: none;
}

.test-modal .test-table-list.performace-download li .export-list .export-icons {
  position: absolute;
  transform: translateY(50%);
  margin-left: 0;
}

.csv-icon {
  background: url(csv.svg) no-repeat;
  width: 23px;
  height: 25px;
}

.d-none {
  display: none !important;
}

.export-text {
  color: #8c8ea6;
  /* font-family: "Gotham"; */
}

.export-text:hover {
  color: black;
}

.network-details {
  /* border-bottom: 1px solid #d8d8d8; */
  margin-bottom: 2%;
}

.score-wrapper {
  padding-top: 10px;
}

.accordion-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dbe3ea;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 15px 0 0;
  height: 40px;
  width: 100%;
  /* margin-left: 3%; */
}

.accordion-network {
  padding: 5px 10px;
  color: black;
  margin-top: 1%;
  font-size: 2.2rem;
}

.accordion-create .plus:after {
  content: "+";
  font-size: 2.2rem;
  color: black;
}

.accordion-create.accordion-active .plus:after {
  content: "-";
  font-size: 2.2rem;
  color: black;
}

.score-wrap-inner {
  transition: max-height 0.6s ease-in-out;
  overflow: hidden;
}

.score-wrap-inner {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 2.5%; */
}

.score-wrap-inner .data-pie {
  display: flex;
  box-shadow: 0px 0px 4px #000000;
  margin: 0.5% 0.3% 0.3% 0.3%;
  width: 30%;
}

.network-divs {
  padding: 0.5%;
  color: #000;
}

.network-divs .title{
  margin-bottom: 8px;
}

.shadow{
  box-shadow: 0px 0px 4px #000000;
  margin: 0.5% 0.3% 0.3% 0.3%;
}

.network-divs label {
  font-size: 1.5rem;
}

.network-divs span {
  font-size: 1.5rem;
}

.kpi {
  width: 20%;
}

.top-urls {
  background-color: lightgray;
  width: 48%;
}

.title {
  color: #335fff;
}

.vertical {
  border-left: 1px solid black;
  height: 225px;
}

.analysis {
  display: flex;
  justify-content: space-between;
}

.analysis-left {
  width: 392px;
  margin-top: 1%;
}

.analysis-media {
  padding: 35px 23px 0px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 3px 7px #dddddd33;
  position: relative;
  border-radius: 8px;
  margin-bottom: 10px;
}

.analysis-media.active {
  position: fixed;
  bottom: 0;
  left: 137px;
}

.analysis-media:after {
  @include after(50%, 10px);
  @include abs-pos(auto, auto, 0, 0);
  background-color: blue;
}

.analysis-media:before {
  @include after(50%, 10px);
  @include abs-pos(auto, 0, 0, auto);
  background-color: lightblue;
}

.analysis-video {
  position: relative;
  width: 347px;
  height: 460px;
  padding: 10px 70px 48px;
}

.analysis-video video {
  width: 100%;
  height: 100%;
}

.analysis-phn {
  top: 0;
  right: auto;
  bottom: auto;
  left: 63px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.analysis-phn img {
  width: 220px;
  height: 420px;
}

.overlay-wrapper {
  position: relative;
  /* width: 100%;
  height: 100%; */
  width: 200px;
  height: 400px;
}

.issue-card {
  height: 463px;
  border: 1px solid black;
  border-radius: 8px;
  overflow-y: scroll;
}

.issue-card .card-position {
  padding: 1% 2% 0 2%;
}

.issue-card .issue-card-kpis {
  border-bottom: 1px solid rgba(140, 142, 166, 0.2);
}

.issue-card .issue-card-kpis .issue-card-aspects {
  margin-bottom: 3%;
}

.issue-card .issue-card-kpis h3 {
  color: black;
}

.issue-card .issue-card-kpis h5 {
  color: #335fff;
  margin-bottom: 1%;
}

.issue-card .issue-card-kpis button {
  width: 100%;
  text-align-last: left;
  margin-bottom: 2%;
  cursor: pointer;
}

.right-scroll {
  width: calc(100% - 400px);
}

.right-scroll.analysis-right {
  width: auto;
}

.analysis-right {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
  height: 900px;
  border: 1px solid black;
  margin-top: 1%;
}
.analysis-right:after {
  @include after(100%, 42px);
  @include abs-pos(auto, auto, 0, 0);
  background-color: white;
  z-index: 1;
}

.time-slider {
  background-color: #f7f8fd;
  padding: 20px 20px 21px 60px;
  margin-top: 1%;
}

.time-list-wrap {
  position: relative;
}

.time-handle {
  text-align: center;
  border-radius: 7px 7px 0 0;
  background-color: #4880ff;
  width: 71px;
  height: 67px;
  cursor: pointer;
  top: -29px;
  right: auto;
  bottom: auto;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  padding: 10px 5px 0;
}

.time-handle:before {
  width: 1px;
  height: 915px;
  content: "";
  top: 100%;
  right: auto;
  bottom: auto;
  left: 35px;
  position: absolute;
  transform: translateX(-50%);
  border-right: 2px dashed #c3cae8;
}

.time-handle .time-text {
  color: #fff;
  padding: 0;
  font-family: 'Gotham Book', sans-serif;
  font-size: 1.2rem;
}

.time-handle .time-text span {
  display: inline-block;
}

.time-handle:after {
  width: 0;
  height: 0;
  content: "";
  top: 100%;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  border-left: 35px solid transparent;
  border-right: 36px solid transparent;
  border-top: 14px solid #4880ff;
}

.time-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-text:first-child {
  padding-left: 0;
}

.time-listing .time-text {
  font-family: 'Gotham Book', sans-serif;
  font-size: 1.2rem;
  color: black;
  padding: 0 22px 0 0px;
}

.time-listing .time-text span {
  display: inline-block;
}

.time-sec {
  height: 10px;
  border-right: 1px solid #14bed2;
  border-left: 1px solid #14bed2;
  padding: 2px 12px 2px 12px;
  display: inline-flex;
  vertical-align: middle;
}

.time-sec span {
  height: 5px;
  width: 2px;
  background-color: #14bed2;
  opacity: 0.5;
  margin-right: 9px;
}

.time-sec span {
  display: inline-block;
}

.analysis-graphs {
  padding: 15px 5px 5px 30px;
  border-bottom: 1px solid rgba(140, 142, 166, 0.2);
}

.analysis-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.analysis-titles {
  width: 50%;
}

.timeseries-choice {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.timeseries-protocols .dropdown-light:last-child {
  margin-right: 0;
}

.timeseries-protocols .dropdown-light {
  width: auto;
}

.dropdown-light {
  margin: 0;
}

.input-wrap {
  position: relative;
}

.select-input-wrapper .ellipsed-text {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-light select {
  height: 48px;
  border-radius: 8px;
  border: 1px solid #0050a0;
  color: #0050a0;
  padding: 0 35px 0 15px;
  background-color: white;
}

.select-input-wrapper select {
  cursor: pointer;
}

option:hover {
  background-color: #f0fdff;
  color: #15bfd3;
  text-overflow: initial;
}

.dropdown-light .down-arrow {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-light .down-arrow {
  top: 5px;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute;
  background: url(arrow-down.svg) no-repeat;
  width: 15px;
  height: 9px;
  background-size: 100% 100%;
}

.cp {
  padding: 0;
  border-radius: 0;
  font-size: 1rem;
}

.cp-dropdown {
  display: flex;
  flex-direction: column;
}

.cp-dropdown {
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  position: absolute;
  background-color: #fff;
  z-index: 3;
}

.cp-dropdown-select {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #d8d8d8;
  height: 152px;
}

@media only screen and (max-width: 1439px) {
  .analysis-graphs h3 {
    font-size: 2rem;
  }
}

.analysis-graphs h3 {
  color: black;
}

.analysis-graphs h4 {
  color: #335fff;
  font-family:'Gotham Book', sans-serif;
  letter-spacing: 1.49px;
  margin-bottom: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  /* font-family: monospace, monospace; */
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* custom styles*/
fieldset {
  border-radius: 0.3rem;
  font-size: 2em;
}

fieldset label {
  display: block;
  font-size: 0.5em;
}

fieldset span {
  font-size: 0.5em;
}

#fileinput {
  display: block;
  padding: 2em 1em;
  font-size: 0.3em;
  width: 100%;
}

#fileinput::-webkit-file-upload-button {
  padding: 1em;
  font-size: 16px;
}

#use-example {
  font-size: 0.5em;
  padding: 0.5em 1em;
  margin: 0 1em;
}

#page-selector {
  display: none;
  margin: 1em 0px;
}

#legend-holder ul {
  margin: 1em 0 1em;
}

.output .wrapper {
  font-size: 12px;
}

/*GH page base styles*/

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
} */

/* .btn + .btn {
  margin-left: 1rem;
} */

/* .btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
} */

/* @media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0;
  }
} */

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  /*background-image: linear-gradient(120deg, #155799, #159957); */
  background-image: linear-gradient(120deg, #a6d18f, #1f7c83);
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}

/*.main-content :first-child {
  margin-top: 0;
}*/

.main-content img {
  max-width: 100%;
}

.main-content p {
  margin-bottom: 1em;
}

.main-content pre > code {
  word-break: normal;
  white-space: pre;
}

.main-content .highlight {
  margin-bottom: 1rem;
}

.main-content ul,
.main-content ol {
  margin-top: 0;
}

.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
  margin-top: 0;
}

.main-content blockquote > :last-child {
  margin-bottom: 0;
}

.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 160rem;
    padding: 2rem 4rem;
    margin: 0 auto;
    font-size: 2rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.main-content h3 {
  color: black;
}

.main-content h5 {
  color: #335fff;
  font-family:'Gotham Book', sans-serif;
  letter-spacing: 1.49px;
}

.main-content .filter {
  display: flex;
  color: #335fff;
  margin-top: 2%;
}

.main-content .filter .parameter {
  width: 20%;
  font-size: 1.5rem;
  font-family: 'Gotham Book', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.main-content .filter .parameter input[type="number"] {
  width: 20%;
}

.main-content .filter .parameter input[type="text"] {
  width: 40%;
  margin-left: 6%;
}

.main-content .filter-button {
  text-align: center;
}

.main-content .filter-button button {
  background-color: #167ffc;
  color: white;
  border-radius: 5px;
  border: none;
  width: 20%;
  margin: 2%;
  font-size: 1.5rem;
  height: 30px;
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: #819198;
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem;
  }
}

.water-fall-chart {
  width: 100%;
  overflow: visible;
  font-size: 12px;
  line-height: 1em;
}
.water-fall-chart * {
  box-sizing: border-box;
}
.water-fall-chart button {
  cursor: pointer;
}

.water-fall-holder {
  fill: #ccc;
}

.water-fall-chart .left-fixed-holder {
  overflow: visible;
}
.water-fall-chart .marker-holder {
  width: 100%;
}
.water-fall-chart .line-label-holder {
  cursor: pointer;
}
.water-fall-chart .line-holder {
  stroke-width: 1;
  stroke: #ccc;
  stroke-opacity: 0.5;
  transition: all 60ms;
}
.water-fall-chart .line-holder .line-mark {
  fill: #69009e;
  opacity: 0.01;
  stroke-width: 0;
  transition: all 60ms;
}
.water-fall-chart .line-holder.active {
  stroke: #69009e;
  stroke-width: 2;
  stroke-opacity: 1;
}
.water-fall-chart .line-holder.active .line-mark {
  opacity: 0.4;
}
.water-fall-chart .type-onload .line-holder {
  stroke: #c0c0ff;
}
.water-fall-chart .type-oncontentload .line-holder {
  stroke: #d888df;
}

.water-fall-chart .labels {
  width: 100%;
}
.water-fall-chart .labels .inner-label {
  pointer-events: none;
}
.water-fall-chart .time-block.active {
  opacity: 0.8;
}
.water-fall-chart .line-end,
.water-fall-chart .line-start {
  display: none;
  stroke-width: 1;
  stroke-opacity: 0.5;
  stroke: #000;
}
.water-fall-chart .line-end.active,
.water-fall-chart .line-start.active {
  display: block;
}

.left-fixed-holder .label-full-bg {
  fill: #fff;
  opacity: 0.9;
}

.time-scale line {
  stroke: #0cc;
  stroke-width: 1;
}
.time-scale line.sub-second-line {
  stroke: #ccc;
  opacity: 0.75;
  stroke-width: 0.5;
}
.time-scale text {
  font-weight: bold;
}

.row-item {
  cursor: pointer;
}
.row-item .even {
  fill: #ccc;
  opacity: 0.05;
}
.row-item .odd {
  fill: #000;
  opacity: 0.05;
}
.row-item:hover .odd,
.row-item:hover .even {
  fill: #000;
  opacity: 0.1;
}

.row-item:focus {
  outline: solid 1.5px #aaa;
  outline-offset: -1.5px;
}
.row-item:focus .odd,
.row-item:focus .even {
  fill: #000;
  opacity: 0.2;
}

.row-item .rect-holder text {
  fill: #aaa;
}
.row-item.status0 .even,
.row-item.status5xx .even {
  fill: #f66;
}
.row-item.status0 .odd,
.row-item.status5xx .odd {
  fill: #f00;
}
.row-item.status4xx .even {
  fill: #c33;
}
.row-item.status4xx .odd {
  fill: #c00;
}
.row-item.status3xx .even {
  fill: #ff6;
}
.row-item.status3xx .odd {
  fill: #ff0;
}

.row-item.status0 .even,
.row-item.status0 .odd,
.row-item.status5xx .even,
.row-item.status5xx .odd,
.row-item.status4xx .even,
.row-item.status4xx .odd,
.row-item.status3xx .even,
.row-item.status3xx .odd {
  opacity: 0.3;
}
.row-item.status0:hover .even,
.row-item.status0:hover .odd,
.row-item.status5xx:hover .even,
.row-item.status5xx:hover .odd,
.row-item.status4xx:hover .even,
.row-item.status4xx:hover .odd,
.row-item.status3xx:hover .even,
.row-item.status3xx:hover .odd {
  opacity: 0.5;
}

/* .tooltip-holder {
  overflow: visible;
}
.tooltip * {
  padding: 0;
  margin: 0;
}
.tooltip html {
  font-size: 10px;
  line-height: 1.2em;
}
.tooltip body {
  position: relative;
}
.tooltip-payload {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25em;
  font-size: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  border: solid 1px #f0f0f0;
  word-break: break-all;
  overflow-wrap: break-word;
  transition: opacity 300ms;
}
.tooltip-payload.no-anim {
  transition: none;
} */

/** overlay animation settings **/
.water-fall-chart .line-label-holder,
.row-item,
.water-fall-chart .line-holder line,
.time-scale line,
.time-scale text {
  transition: transform 60ms;
}
.water-fall-chart.closing {
  transition-delay: 60ms;
}

.labels {
  overflow: hidden;
}

/*block colours for MIME types*/
.block-css {
  fill: #a6d18f;
}
.block-iframe,
.block-html,
.block-svg,
.block-internal {
  fill: #82a8de;
}
.block-img,
.block-image {
  fill: #b394cf;
}
.block-script,
.block-javascript,
.block-js {
  fill: #e0b483;
}
.block-link {
  fill: #89afe6;
}
.block-swf,
.block-flash {
  fill: #42aab1;
}
.block-font {
  fill: #e15d4e;
}
.block-xmlhttprequest,
.block-ajax {
  fill: #f00;
} /*remove?*/
.block-plain,
.block-other {
  fill: #b3b3b3;
}

/*block colours for Timing*/
.block-blocked {
  fill: #aaa;
}
.block-dns {
  fill: #159588;
}
.block-connect {
  fill: #fd9727;
}
.block-ssl {
  fill: #c141cd;
}
.block-send {
  fill: #b0bec5;
}
.block-wait {
  fill: #1ec659;
}
.block-receive {
  fill: #1eaaf1;
}
.block-undefined {
  fill: #0f0;
}

/* Info overlay SVG - wrapper */
.info-overlay-bg {
  fill: #fff;
  stroke: #cdcdcd;
}
.info-overlay-close-btn {
  fill: rgba(205, 205, 205, 0.8);
  transform: translate(-23px, -23px);
  cursor: pointer;
}
.info-overlay-close-btn text {
  fill: #111;
  pointer-events: none;
}
.info-overlay-close-btn:focus {
  border: solid 1px #36c;
}

/* Info overlay SVG - timings tab */
.info-overlay-holder .connect {
  border-right: solid 5px #fd9727;
  padding-right: 5px;
}
.info-overlay-holder .blocked {
  border-right: solid 5px #aaa;
  padding-right: 5px;
}
.info-overlay-holder .ssltls {
  border-right: solid 5px #c141cd;
  padding-right: 5px;
}
.info-overlay-holder .send {
  border-right: solid 5px #b0bec5;
  padding-right: 5px;
}
.info-overlay-holder .wait {
  border-right: solid 5px #1ec659;
  padding-right: 5px;
}
.info-overlay-holder .receive {
  border-right: solid 5px #1eaaf1;
  padding-right: 5px;
}
.info-overlay-holder .dns {
  border-right: solid 5px #159588;
  padding-right: 5px;
}

/* Info overlay HTML - types */
.type-css {
  background: #406b29;
} /*a6d18f - 40%*/
.type-iframe,
.type-html,
.type-svg,
.type-internal {
  background: #1c4278;
} /*82a8de - 40%*/
.type-img,
.type-image {
  background: #4d2e69;
} /*b394cf - 40%*/
.type-script,
.type-javascript,
.type-js {
  background: #7a4e1d;
} /*e0b483 - 40%*/
.type-link {
  background: #89afe6;
} /*89afe6 - 40%*/
.type-swf,
.type-flash {
  background: #234980;
} /*#42aab1 - 40%*/
.type-font {
  background: #ae2a1b;
} /*#e15d4e - 40%*/
.type-xmlhttprequest,
.type-ajax {
  background: #cc0000;
} /* f00 40%*/
.type-plain,
.type-other {
  background: #808080;
} /*#b3b3b3 - 40%*/

/* Info overlay HTML - base */
.info-overlay-holder * {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.info-overlay-holder body {
  position: relative;
  height: 450px;
  clear: both;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #fff;
  color: #666;
}
.info-overlay-holder body .wrapper {
  height: 450px;
  width: 100%;
  overflow: scroll;
}

/* Info overlay HTML - header */
.info-overlay-holder header {
  position: relative;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.info-overlay-holder header,
.info-overlay-holder header a,
.info-overlay-holder header button {
  color: #fff;
  text-decoration: none;
}
.info-overlay-holder header a:hover,
.info-overlay-holder header a:focus {
  text-decoration: underline;
}
.info-overlay-holder .requestID {
  font-weight: bold;
}
.info-overlay-holder h3,
.info-overlay-holder h3 a {
  font-size: 1.1em;
  padding: 1em;
  margin: 0;
  font-weight: normal;
  overflow-wrap: break-word;
}
.info-overlay-holder h3 strong {
  font-size: 1.1em;
}
.info-overlay-holder .tab-nav ul {
  margin: 0;
  padding: 0;
}
.info-overlay-holder .tab-nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.info-overlay-holder button {
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: solid 2px transparent;
  padding: 0.5em 1em;
  margin: 0 0.25em;
}
.info-overlay-holder li:first-child button {
  margin-left: 1em;
}
.info-overlay-holder button:focus,
.info-overlay-holder button.active:focus,
.info-overlay-holder button:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.info-overlay-holder button.active {
  border-color: #fff;
  cursor: default;
}
.info-overlay-holder button.active:focus {
  border-color: rgba(255, 255, 255, 0.8);
}
.info-overlay-holder button.copy-tab-data {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0;
  margin: 0;
  border-radius: 1em;
  background: #e0e0e0;
}
.info-overlay-holder button.copy-tab-data:focus,
.info-overlay-holder button.copy-tab-data:hover {
  background: #ccc;
}

/* Info overlay HTML - content */
.info-overlay-holder dt {
  float: left;
  clear: both;
  margin-top: 0.5em;
  width: 25%;
  text-align: right;
  font-weight: bold;
}
.info-overlay-holder dd {
  float: left;
  width: 73%;
  margin: 0.5em 0 0 2%;
  padding: 0 0 0.5em 0;
}
.info-overlay-holder dt:after {
  content: ":";
}
.info-overlay-holder pre {
  font-size: 11px;
  line-height: 23px;
  border-radius: 0;
  background: #f6f3f3;
}

.info-overlay-holder .tab {
  float: left;
  position: relative;
  width: 100%;
  height: 350px;
  padding: 12px 12px 24px;
}
.info-overlay-holder .tab h2 {
  font-size: 1.2em;
  margin: 0.5em 0 0;
  padding: 0.5em 0 0.5em 1em;
  clear: both;
  border-top: solid 1px #efefef;
}
.info-overlay-holder .tab h2:first-child {
  border-top: 0;
  padding-top: 0;
}
.info-overlay-holder .tab pre {
  overflow-y: hidden;
  width: 100%;
  min-height: 100%;
}
.info-overlay-holder .tab .preview {
  width: auto;
  max-width: 100%;
  max-height: 500px;
  border: solid 1px #666;
}
.info-overlay-holder .tab dl:after {
  content: "";
  display: table;
  clear: both;
}
.info-overlay-holder .tab.rendered-data {
  padding: 0;
}
.info-overlay-holder .tab.rendered-data pre {
  padding: 12px 12px 24px;
}
.info-overlay-holder .tab.rendered-data pre > code {
  white-space: pre-wrap;
}

/** Legend */
.resource-legend {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  line-height: 1.5em;
  display: inline-block;
}
.resource-legend li {
  margin: 0 1em 0 0;
  padding: 0;
  white-space: nowrap;
  display: inline-block;
}
.resource-legend li:before {
  content: "";
  width: 1em;
  height: 1em;
  margin: 0 0.5em 0 0;
  vertical-align: text-top;
  display: inline-block;
}

.resource-legend .legend-blocked:before {
  background: #aaa;
}
.resource-legend .legend-dns:before {
  background: #159588;
}
.resource-legend .legend-connect:before {
  background: #fd9727;
}
.resource-legend .legend-ssl:before {
  background: #c141cd;
}
.resource-legend .legend-send:before {
  background: #b0bec5;
}
.resource-legend .legend-wait:before {
  background: #1ec659;
}
.resource-legend .legend-receive:before {
  background: #1eaaf1;
}

.icon {
  fill: #666;
}

.icon-4xx,
.icon-5xx,
.icon-no-cache,
.icon-no-gzip,
.icon-warning {
  fill: #b55;
}
