.test-modal
  ul.test-table-list.performace-download
    li
      span.test-table-head Date - Time
      span.test-table-data {{sessionData.startTime}}
    li
      span.test-table-head App Project
      span.test-table-data -
    li
      span.test-table-head Build
      span.test-table-data -
    li
      span.test-table-head Test Location
      span.test-table-data {{sessionData.location}}
    li
      span.test-table-head Test Device
      span.test-table-data -
    li
      span.test-table-head Network
      span.test-table-data {{sessionData.carrier}}
    li
      span.test-table-blank.test-table-head(style='color: transparent;') blank
      span.test-table-link
        a.btn.btn-primary-outline.btn-sm(href='javascript:void(0)') Change
        span.export-icons.download-icon(title='download' , ng-click="openPcapsDownload()")
         .export-list(ng-class="{'d-none':!sharePopup}")
            a.export-link(ng-click="downloadFile('device-resource.heap-mem')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Heap Memory
            a.export-link(ng-click="downloadFile('device-resource.frames')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Frames
            a.export-link(ng-click="downloadFile('device-resource.mem')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Memory
            a.export-link(ng-click="downloadFile('device-resource.battery')")
             span.export-icons.csv-icon(title='csv')
             span.export-text Battery
            a.export-link(ng-click="downloadFile('device-resource.cpu')")
             span.export-icons.csv-icon(title='csv')
             span.export-text CPU

  .network-details
    .accordion-create(ng-click="openCloseTab('network')",ng-class="{'accordion-active': networkTabActive}")
       h2.accordion-network Network
       span.plus
  .score-wrapper     
    .accordion-create
       h2.accordion-network KPI
       span.plus